# Fly.io 部署配置文件
app = "heart-rythm"
primary_region = "sin"

[build]
  [build.builder]
    type = "python"

[env]
  PORT = "8000"

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[http_service.checks]]
  interval = "15s"
  timeout = "10s"
  grace_period = "5s"
  method = "GET"
  path = "/docs"

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 256
